.chart-div {
    width: 98vw;   /* 画面の横幅いっぱい */
    height: 50vh;   /* 画面の縦の半分 */
    background-color: #f0f0f0;  /* 背景色を設定（任意） */
    /* margin-bottom: 100px; /* 各 .chart 要素の下にスペースを設定 */
    position: relative;
}
.legend {
    display: flex; /* 横に並べる */
    flex-wrap: wrap; /* 必要に応じて次の行に折り返す */
    position: relative;
    width: 95%;
    float: left;
}
.legend-item {
    display: flex; /* 横に並べる */
    align-items: center;
    margin-right: 10px;
}
/* .canvas {
    position: relative;
    float: right;
    width: 80%;
} */
.reset-button {
    width: 5%;
    float: right;
}
.tooltip {
    opacity: 1;
    pointer-events: none;
    position: relative;
    width: 20%;
    height: 90%;
    float: left;
}
p {
    margin: 5px 5px; /* 上下に20px、左右に0pxの余白を設定 */
}