.chart {
    width: 95%;
    margin: 0 auto; /* 画面の中央に配置 */
}
#legend {
    display: flex;
    flex-wrap: wrap;
    /* 必要に応じて次の行に折り返す */
}
.legend-item {
    display: flex;
    align-items: center;
    margin-right: 10px;
}